<div class="form_register">
    <form class="form_register--user" action="">
        <div class="form-register__group">
                <label class="form-register__label">Nombres
                    <input class="form-register__input" type="text" placeholder="Pablo Alberto" />
                </label>
                <label class="form-register__label">Apellidos
                    <input class="form-register__input" type="text" placeholder="Trujillo Salazar">
                </label>
            </div>
            <label class="form-register__label">Municipio
                    <select class="form-register__input">
                        <option>Marsella</option>
                        <option>Apía</option>
                        <option>Balboa</option>
                        <option>Belén de Umbría</option>
                        <option>Dosquebradas</option>
                        <option>Guática</option>
                        <option>La Celia</option>
                        <option>La Virginia</option>
                        <option>Mistrató</option>
                        <option>Pereira</option>
                        <option>Pueblo Rico</option>
                        <option>Quinchía</option>
                        <option>Santa Rosa de Cabal</option>
                        <option>Santuario</option>
                    </select>

        <div class="form_group--button">
            <a href="/view/vistas/register_user.html" class="login__button--second">Cancelar</a>
    <a href="/view/vistas/Sesion_perfil.html" class="login__button--first">Crear Usuario</a>


        </div>


        
    </form>
</div>