<div class="login">
  <div class="login__card">
    <img src="/img/logo2.png" alt="logo" class="login__img">
    <h1 class="login__title">Bienvenido </h1>
    <p class="login__spam">Inicia sesión para gestionar tus citas.</p>
    <div class="login__forms">

      <div class="login__group">
        <label for="username" class="login__label">Nombre</label>
        <input id="username" type="text" class="login__input" placeholder="Nombre">
      </div>
      
      <div class="login__group">
        <label for="password" class="login__label">Contraseña</label>
        <input id="password" type="password" class="login__input" placeholder="Contraseña">
      </div>
    </div>
    <div class="login__group--button">
    <a href="/view/vistas/register_user.html" class="login__button--second">Crear sesión</a>
    <a href="/view/vistas/Sesion_perfil.html" class="login__button--first">Iniciar sesión</a>
    </div>
    <a href="#" class="login__reset">¿Olvidaste tu contraseña?</a>    
  </div>
</div>
