<div class="navbar_bloque">
    <div class="navbar_bloque--logo">
        <h1 class="navbar_bloque--logo-titulo">Citas Medicas</h1>
        <span class="navbar_bloque--logo-subtitulo">Automatice sus citas</span>
    </div>
    <nav class="navbar_bloque--enlaces">
        <ul class="navbar_bloque--enlaces-lista">
            <li class="navbar_bloque--enlaces-link"><a href="/view/vistas/index_citas.html">Inicio</a></li>
            <li class="navbar_bloque--enlaces-link"><a href="">Acerca de nosotros</a></li>
            <li class="navbar_bloque--enlaces-link"><a href="">Servicios</a></li>
            <li class="navbar_bloque--enlaces-link"><a href="">Contacto</a></li>
        </ul>
    </nav>
    <div class="navbar_bloque--icon">
        <a href="/view/vistas/login.html">
        <img class="navbar_bloque--icon-img" src="/img/iniciar-sesion.png" alt="">
        </a>
        <!-- <a href="">Inciar Sesion</a> -->
    </div>
</div>