<div class="navbar_bloque">
    <div class="navbar_bloque--logo">
        <h1 class="navbar_bloque--logo-titulo">Citas Medicas</h1>
        <span class="navbar_bloque--logo-subtitulo">Automatice sus citas</span>
    </div>
    <nav class="navbar_bloque--enlaces">
        <ul class="navbar_bloque--enlaces-lista">
            <li class="navbar_bloque--enlaces-link"><a href="/">Inicio</a></li>
            <li class="navbar_bloque--enlaces-link"><a href="/about">Acerca de nosotros</a></li>
            <li class="navbar_bloque--enlaces-link"><a href="/services">Servicios</a></li>
            <li class="navbar_bloque--enlaces-link"><a href="/contact">Contacto</a></li>
        </ul>
    </nav>
    <div class="navbar_bloque--icon">
        <a href="">Inciar Sesion</a>
    </div>
</div>